@model User

<html>
<head>

</head>

<body>
    <h1>@Model.FirstName 's Profile</h1>

    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
    <p>@Model.Email</p>
    <p>@Model.lateFees</p>

</body>
</html>
